* {
  font-family: 'Ubuntu Mono', sans-serif;
}

html {
  height: 100%;
  background: #88e;
}

.terminal {
  font-size: 2em;
  line-height: 1.3em;
}

body {
  height: 100%;
  background: url(images/arch.jpg) no-repeat center center fixed #040833; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1.0em;
  color: #ddf;
}

html, body {
  padding: 0;
  margin: 0;
}

#main, #footer {
  position: absolute;
  width: 100%;
}

#main {
  top: 0;
  background-color: rgba(238, 238, 238, 0.2);
  height: 85%;
  overflow: auto;
}

#footer {
  top: 85%;
  background-color: rgba(170, 170, 170, 0.2);
  height: 15%;
  overflow: hidden;
}

#nav {
  list-style-type: none;
}

#nav li {
  margin: 0.3em;
  padding: 0.3em;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #8b8;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}

#title a {
  color: #bbe;
  font-size: 250%;
}

#title a:hover {
  color: #fff;
  font-size: 250%;
}

.special {
  background-color: #113;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.container {
  padding: 0 0.5em 0.5em;
}

#default-content, #about-content, #sponsors-content, #faq-content, #apply-content {
  display: none;
}

dl dt {
	color: #eef;
	font-weight: bold;
	padding: 0;
}
	
dl dd {
	margin: 0 0 1em 0;
	padding: 0 0 0 0.5em;
}

h1 {
  text-align: center;
}

#sponsor-images img {
  margin: 0 auto;
  display: block;
}

.modal {
  border: 1px solid #eee;
  width: 60%;
  display: block;
  margin: 3em auto;
  font-size: 120%;
  
}


